{% extends 'plug_in_django_basic.html' %}
{% load sekizai_tags %}
{% load static %}
{% load bootstrap4%}
{% block contend %}
<div id="maincontainer" class="container">
    <div class="row" style="min-height: 400px">
    <div class="col col-6"><canvas id="timechart"></canvas></div>
    <div class="col col-6"><canvas id="sschart"></canvas></div>
    </div>
    <form id="roast_profile_data_form">
        <fieldset disabled="disabled">
        {% bootstrap_form form %}
        </fieldset>
    </form>
</div>
{% endblock %}
{% block javascript%}
    {% addtoblock "jss" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    {% endaddtoblock %}
    {% addtoblock "jss" %}
        <script>
            colors =["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"]
            data = {{data}};
            $(document).ready(function() {
                var sschart_ctx = $('#sschart');
                sschart = new Chart(sschart_ctx, {
                    type: 'scatter',
                    data: {
                        labels: ["stress"],
                        datasets: [{data:[],lineTension: 0,label: "stress [N]",fill: false,showLine: true,pointRadius: 0,borderColor:colors[2]}]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'stress [N]'
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'strain [%]'
                                }
                            }]
                        }
                    },
                });
                var timechart_ctx = $('#timechart');
                timechart = new Chart(timechart_ctx, {
                    type: 'scatter',
                    data: {
                        labels: ["position","force"],
                        datasets: [
                            {data:[],lineTension: 0,label: "position [mm]",fill: false,showLine: true,pointRadius: 0,borderColor:colors[0]},
                            {data:[],lineTension: 0,label: "force [N]",fill: false,showLine: true,pointRadius: 0,borderColor:colors[1]}
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'time [s]'
                                }
                            }]
                        }
                    },
                });

                for(let i =0;i<Math.min(data.time.length,data.position.length,data.force.length);i++){
                    timechart.data.datasets[0].data.push({x:data.time[i],y:data.position[i]});
                    timechart.data.datasets[1].data.push({x:data.time[i],y:data.force[i]});
                }
                timechart.update();

                for(let i =0;i<Math.min(data.strain.length,data.stress.length);i++){
                    sschart.data.datasets[0].data.push({x:data.strain[i],y:data.stress[i]});
                }
                sschart.update();
            });

        </script>
    {% endaddtoblock %}
{% endblock %}
